@import '../../colors/systemColors.scss';
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 11px;
    height: 85px;
    background-color:$primary-color; 
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;

    .navbar-brand .logo {
      font-size: 1.9rem;
      font-weight: bold;
      color: #fff;
      text-decoration: none;
      padding-left: 10px;
    }

    .navbar-links {
      list-style: none;
      display: flex;
      gap: 20px;

      li a {
        color: #fff;
        text-decoration: none;
        font-size: 1rem;
        padding: 10px 20px;
        margin-top: 10px;
        border-radius: 5px;
        font-family: 'Inter', sans-serif;
  
 
      }

      .nav-item-sign-in {
          background:  $tertiary-color;
          font-weight: 600;
          color: #fff;
          padding: 10px 20px;
          font-size: 1rem;
          border-radius: 5px;
          margin-top: 10px;
          font-family: 'Inter', sans-serif;
          &:hover {
            background:$tertiary-color-hover;
           
          }
      }
      .nav-item-sign-up {
          background: $secondary-color;
          color: #fff;
          padding: 10px 10px;
          border-radius: 5px;
          margin-top: 10px;
          font-weight: 600;
          font-family: 'Inter', sans-serif;
          &:hover {
            background:$secondary-color;
           
          }
      }
    }
  }
