$primary-color: #233C5A ; 
$secondary-color:#3c679b;
$tertiary-color:  #37c0ff;
$tertiary-color-hover:  #018bad;
$success-color: #28a745;
$danger-color: #dc3545;
$warning-color: #ffc107;
$info-color: #17a2b8;

$black: #000;
