$primary-color: #233C5A ; 
$primary-color-hover: #192b42; 
$secondary-color:#206c81;
$secondary-color-hover:#103641;
$tertiary-color:  #78B7D0;
$tertiary-color-hover:#0056b3;
$primary-bg-color:#e9f0ff;

$font-color-gray:#4b5563;

